<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" >

    <test name="TEST-EDGE" annotations="JDK">
        <!--<parameter name="browser" value="Edge"/>-->
        <classes>
            <class name="com.cucumber.Runners.RunFirstFeature" />
        </classes>
    </test>

</suite>
